body {
	background-color: lightpink;
};

header {
	text-align: center;
}

h1 {
	text-align: center;
	color: blue;
	margin: auto;
}

.original {
	margin: auto;
	width: 35%;
}

.hidden {
	display: none;
}

.cat-card {
	margin-bottom: 6%;
}

.disableButtonContainer {
	margin: 2%;
	text-align: center;

}