body {
	background-color: aquamarine;
};

header {
	text-align: center;
}

h1 {
	text-align: center;
	color: blue;
	margin: auto;
}

.original {
	margin: auto;
	width: 35%;
}

.hidden {
	display: none;
}

.cat-card {
	margin-bottom: 6%;
	text-align: center;
	height: 375px;
	width: 285px;
	margin-right: 7px;
}

.disableButtonContainer {
	margin: 2%;
	text-align: center;

}

.thumbnail {
	background-color: hotpink;
}